/* ==========================================================================
   Custom light skin inspired by mademistakes.com
   ========================================================================== */

/* Colors */
$background-color: #f9f9f9 !default;
$text-color: #1e1e1e !default;
$muted-text-color: #6b6b6b !default;
$primary-color: #1e1e1e !default;
$border-color: #e3ded7 !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: #f9f9f9 !default;
$link-color: #06508e !default;
$link-color-hover: #207de9 !default;
$masthead-background-color: #f9f9f9 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#ffffff, $text-color, 80%) !default;

/* Custom Variables */
$hero-background-color: #eeeeee;
