---
layout: default
---

{% if page.hero_title or page.hero_subtitle %}
  {% include hero-block.html title=page.hero_title subtitle=page.hero_subtitle %}
{% endif %}

<div id="main" role="main" class="home-main">
  <article class="home-entry">
    <h2 class="home-section__title">Recent posts</h2>
    <ul class="entry__list">
      {% assign home_posts_limit = page.posts_limit | default: page.recent_posts_limit | default: 5 %}
      {% for post in site.posts limit: home_posts_limit %}
        {% assign teaser = post.header.teaser | default: post.header.image %}
        <li class="entry__list-item">
          <article class="entry">
            {% if teaser %}
            <div class="entry__image">
              <img alt="{{ post.title | escape }}" class="img--th-list" loading="lazy" src="{{ teaser | relative_url }}">
            </div>
            {% endif %}
            <h3 class="entry__title">
              <a class="entry__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            {% include page__meta.html type="grid" %}
            <div class="entry__excerpt prose">
              <div class="prose">{{ post.excerpt | strip_html | truncate: 160 }}</div>
            </div>
          </article>
        </li>
      {% endfor %}
    </ul>
  </article>
</div>
